/*.title{
    color: burlywood;
}
*/

body {
    background-image: url(https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    
    }


